apiVersion: apps/v1
kind: Deployment
metadata:
  name: sample-project-deployment
  namespace: mdvr-stag
spec:
  replicas: 1  # Change the number of replicas to 1
  selector:
    matchLabels:
      app: sample-project
  template:
    metadata:
      labels:
        app: sample-project
    spec:
      containers:
      - name: sample-project-container
        image: 9989228601/sample-project:prod
        ports:
        - containerPort: 3001
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  minReadySeconds: 30
  revisionHistoryLimit: 3  # Set the revision history limit to 3, adjust as needed
---
apiVersion: v1
kind: Service
metadata:
  name: sample-project-service
  namespace: mdvr-stag
spec:
  type: NodePort
  selector:
    app: sample-project
  ports:
    - protocol: TCP
      port: 3000
      targetPort: 3001
# ---
# apiVersion: v1
# kind: ResourceQuota
# metadata:
#   name: sample-project-quota
#   namespace: mdvr-stag
# spec:
#   hard:
#     pods: "2"
#     requests.cpu: "0.5"
#     requests.memory: 512Mi
#     limits.cpu: "1"
#     limits.memory: 1Gi
# ---
# apiVersion: autoscaling/v1
# kind: HorizontalPodAutoscaler
# metadata:
#   name: sample-project-hpa
#   namespace: mdvr-stag
# spec:
#   scaleTargetRef:
#     apiVersion: apps/v1
#     kind: Deployment
#     name: sample-project-deployment
#   minReplicas: 1
#   maxReplicas: 5
#   targetCPUUtilizationPercentage: 50
